<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://seeklogo.com/images/B/butterfree-logo-A2E4BEA5A7-seeklogo.com.png"/>
    <title>Butterflyr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
  window.butterFree = "<%= image_url('butterfree.gif') %>";
  window.butterFlyLogo = "<%= image_url('butterfly_logo.png') %>";
  window.globeicon =  "<%= image_url("globeicon.png") %>";
  window.clock = "<%= image_url("clock.svg") %>";  
  window.geo = "<%= image_url("geo.svg") %>";
  window.house = "<%= image_url("house.svg") %>";
  window.abouticon = "<%= image_url("about-icon.jpg") %>";
  window.camera = "<%= image_url("camera.png") %>";
  window.pickle = "<%= image_url("pickle.png") %>"
  window.coverPhoto = "<%= image_url("cover_photo_default.png") %>"
  window.profPhoto = "<%= image_url("prof_photo_default.jpg") %>"
  window.friendsLogo = "<%= image_url("friends.png") %>"
  window.friendIndex = "<%= image_url("friendIndex.png") %>"
  window.loveGif = "<%= image_url("love.gif") %>"
  window.likeGif = "<%= image_url("like.gif") %>"
  window.hahaGif = "<%= image_url("haha.gif") %>"
  window.sadGif = "<%= image_url("sad.gif") %>"
  window.wowGif = "<%= image_url("wow.gif") %>"
  window.angryGif = "<%= image_url("angry.gif") %>"
  window.loveSVG = "<%= image_url("love.svg") %>"
  window.likeSVG = "<%= image_url("like.svg") %>"
  window.hahaSVG = "<%= image_url("haha.svg") %>"
  window.sadSVG = "<%= image_url("sad.svg") %>"
  window.wowSVG = "<%= image_url("wow.svg") %>"
  window.angrySVG = "<%= image_url("angry.svg") %>"
  window.defaultLike = "<%= image_url("likedefault.png") %>"
  window.photoIndex = "<%= image_url("photoIndex.png") %>"

    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
